<!DOCTYPE html>
<html lang="en" style="height: 1200px; overflow-y: scroll; scrollbar-color: #042235 #031724; scrollbar-width: Thin;">  
	<head>    
		<meta charset="UTF-8">    
		<meta name="viewport" content="width=device-width, initial-    scale=1.0">    
		<link rel="stylesheet" href="./Config/config.css" >
		<title>Trustinator</title> 
	</head>
	<body class="alignment" style="background-color:#031724;">  
		<a href="StartView.html">
			<img class="logo-back" src="/resources/img/arrow_left500.png">
		</a>
		<img class="logo-top" src="/resources/img/icon1000.png">
		<p style="color:#031724;"> - </p>
		<h1 class="yellow-h1">Trustinator</h1>
		<hr class="yellow-hr">
		
		<h3 class="yellow-h3">Über den Trustinator</h3>
		<p class="white-p">Der TRUSTINATOR ist ein Projekt innerhalb eines Informatik-Masterstudiums. Das Ziel ist die Prüfung, ob es möglich ist Fake
			Shops anhand fester Metriken zu erkennen. Die geprüften Metriken sind in der Auswertung zu finden.
		</p>

		<h3 class="yellow-h3">Anwendungshinweise</h3>
		<p class="white-p">Da das Add-On Teil einer Studie ist, würden wir uns freuen wenn Sie an unserer Studie teilnehmen würden. 
			Diese ist beim Start des Add-Ons unter "Zur Studie" zu finden.
		</p>
		<p class="white-p">Um zu beginnen navigieren Sie zu einem Webshop ihrer Wahl. Öffnen Sie das Add-On und klicken auf den Button 
			"Starte Webshop Analyse". Nach abgeschlossener Analyse werden die Ergebnisse automatisch angezeigt.
		</p>
		
		<h3 class="yellow-h3">Über uns</h3>
		<p class="white-p">Wir sind fünf Master-Studenten der Informatik mit unterschiedlichen Schwerpunkten, die im Rahmen eines Master-Moduls, in welchem
			Softwarequalität und die Umsetzung eines Informatikprojektes mit Ziel eines wissenschaftlichen Papers im Vordergrund standen, das Browser-Add
			On "TRUSTINATOR" implementiert werden.
		</p>

		<h3 class="yellow-h3">Disclaimer</h3>
		<p class="white-p">Wir können und werden nicht garantieren, dass unsere Analyse aussagekräftig ist und dieser vertraut werden kann. Unser 
			automatisiertes Verfahren dient ausschließlich der Darstellung der Möglichkeit, die Analyse von Webshopeigenschaften zu automatisieren.
		</p>
		<p class="white-p">Im Rahmen der Analyse prüfen wir verschiedene Informationen und prüfen auch schwarze Listen von verschiedenen Websites. Folgende Quellen und APIs werden verwendet:
		</p>

		<p>
			<a class="source" href="https://check-host.net/?lang=en">Check-Host</a>
		</p>
		<p>
			<a class="source" href="https://api.opencorporates.com/">Open Corporates API</a>
		</p>
		<p>
			<a class="source" href="https://www.trustedshops.de/fake-shops/">Trusted Shops Fake-Shop Liste</a>
		</p>
		<p>
			<a class="source" href="https://de.trustpilot.com/">Trustpilot</a>
		</p>
		<p>
			<a class="source" href="https://www.watchlist-internet.at/liste-betruegerischer-shops/">Watchlist Internet</a>
		</p>
		<p class="white-p">Bei Fragen und Anmerkungen können Sie uns unter trustinator.extension@gmail.com konraktieren</p>
	</body>

	
		
</html>