<!DOCTYPE html>
<html lang="en" style="overflow-y: hidden; overflow: hidden;">  
	<head>   
		<meta charset="UTF-8">    
		<meta name="viewport" content="width=device-width, initial-    scale=1.0">    
		<link rel="stylesheet" href="./Config/config.css" >
		<title>Trustinator</title> 
	</head>
	<body class="alignmentStart" style="background-color:#031724;">  
		<img class="logo-top" src="/resources/img/icon1000.png">
		<p style="color:#031724;"> - </p>
		<h1 class="yellow-h1">Trustinator</h1>
		<hr class="yellow-hr">

        <p class="white-p" style="font-family: Montserrat-Thin;">Klicke auf den Knopf, um zu prüfen ob der aktuelle Webshop sicher ist!</p>

		<script type="module" src ='../scripts/StartView.js'></script>
		<button id="startButton" onclick="startAnalysing()"> > Starte Webshop Analyse < </button>
        <p id="progress"></p>
		<a id="about" class="link-about" href="AboutView.html">Über uns</a>
		<a id="studie" class="link-survey" href="https://www.soscisurvey.de/trustinator/">Zur Studie</a>
	</body>	
</html>